{% extends "base.html" %}

{% block body %}


        <div id="fh5co-contact">

			<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>登录</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-push-1 animate-box">
                    <form method="post" action="/login{{ '?next='+data['next'] if data['next'] else '' }}">
                    {% module xsrf_form_html() %}
					<div class="row">
                        {% if data['error'] %}
						<div class="col-md-12" style="text-align:center; color:#f00;">
                            <p>{{ data['error'] }}</p>
						</div>
                        {% end %}

						<div class="col-md-5">
							<div class="form-group">
								<input name="username" type="text" class="form-control" placeholder="用户名" style="height:50px;">
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<input name="password" type="password" class="form-control" placeholder="密码" style="height:50px;">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<input type="submit" value="登录" class="btn btn-primary btn-modify" style="height:50px;">
							</div>
						</div>
						<div class="col-md-12" style="text-align:center;">
                            <p><a href="/register">注册新用户</a></p>
						</div>
					</div>
                    </form>
				</div>
			</div>
		</div>


{% end %}