{% extends "base.html" %}

{% block body %}


		<div id="fh5co-blog">
			<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>问卷列表</h3>
				</div>
			</div>
			<div class="row">

				{% for i in data['projects'] %}
				<div class="col-md-4">
					<div class="fh5co-blog animate-box fadeInUp animated-fast">
						<div class="blog-text">
							<h3><a href="#">{{ i['title'] }}</a></h3>
							<p>{{ i['remark'] }}</p>
							<ul class="stuff">
								<li><i class="icon-heart3"></i>249</li>
								<li><i class="icon-eye2"></i>1,308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				{% end %}


			</div>
		</div>


{% end %}